body{
  margin:0;
  background:#111;
  color:white;
  font-family:Arial;
}

.screen{
  padding:20px;
}

.hidden{
  display:none;
}

button{
  border:none;
  padding:14px;
  border-radius:12px;
  margin-top:10px;
  width:100%;
  font-size:16px;
}

input{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  margin-top:10px;
  font-size:16px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.offer{
  background:#222;
  padding:20px;
  border-radius:16px;
  margin-top:20px;
}

.services{
  display:grid;
  gap:15px;
  margin-top:20px;
}

.card{
  background:#1d1d1d;
  padding:20px;
  border-radius:16px;
}

.menu{
  background:#222;
  padding:15px;
  border-radius:12px;
  margin-top:10px;
}

.footer{
  margin-top:40px;
  color:#aaa;
  text-align:center;
}
